<h1>Editing outfit item</h1>

<%= render "form", outfit_item: @outfit_item %>

<br>

<div>
  <%= link_to "Show this outfit item", @outfit_item %> |
  <%= link_to "Back to outfit items", outfit_items_path %>
</div>
