<link>
<div class="container text-center">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <h1 class="text-white">Welcome</h1>
    </div>
    <div class="col">

    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <h5 class="text-white">Love the idea of getting ready but absolutely hate getting to the part where you have to get dressed?</h5>
    </div>
    <div class="col">

    </div>
  </div>
</div>
<div class="text-white text-center">
  <br>
  This is made for people who never can decide what to wear next, hate outfit repeating and aren't afraid of being in the spotlight. 

  <p class="text-white">Let's get you set up so U can Pick</p>
</div>
<button> Sign In </button>

<button> Sign Up? </button>
