<div class="container text-center">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <h1>Welcome to UPick</h1>
    </div>
    <div class="col">

    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <h3>Love the idea of getting ready but absolutely hate getting to the part where you have to get dressed?</h3>
    </div>
    <div class="col">

    </div>
  </div>
</div>
<div class="text-center">
  <br>
  <h4>
  This is made for people who never can decide what to wear next, hate outfit repeating and aren't afraid of being in the spotlight. 

  <p>Let's get you set up so U can Pick</p> </h4>
</div>
<div class="buttons-container d-grid gap-2 d-md-block">
  <% unless user_signed_in? %>
    <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-light' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info' %>
  <% end %>
</div>
