<div class="container text-center">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <h1>Welcome to UPick</h1>
    </div>
    <div class="col">

    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <h3>Love the idea of getting ready but absolutely hate getting to the part where you have to get dressed?</h3>
    </div>
    <div class="col">

    </div>
  </div>
</div>
<div class="text-center">
  <br>
  <h4>
  This is made for people who never can decide what to wear next, hate outfit repeating and aren't afraid of being in the spotlight. 

  <p>Let's get you set up so U can Pick</p> </h4>
</div>
<div class="buttons-container d-grid gap-2 d-md-block">
  <% unless user_signed_in? %>
    <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-light' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info' %>
  <% end %>
</div>
<div class="grid text-center">
  <div class="g-col-4">Empty</div>
  <div class="g-col-4">
    <div class="card text-bg-dark">
      <img src="app/views/shared/items.png" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Log your clothes</h5>
      </div>
      </div>    
    </div>
  <div class="g-col-4">Empty</div>
</div>
 <div class="grid text-center">
  <div class="g-col-4">Empty</div>
  <div class="g-col-4">
    <div class="card text-bg-dark">
      <img src="app/views/shared/outfitshow.png" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Create your outfits online</h5>
      </div>
      </div>    
    </div>
  <div class="g-col-4">Empty</div>
</div>
 <div class="grid text-center">
  <div class="g-col-4">Empty</div>
  <div class="g-col-4">
    <div class="card text-bg-dark">
      <img src="app/views/shared/outfitshow1.png" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Pick and choose your outfit details</h5>
      </div>
      </div>    
    </div>
  <div class="g-col-4">Empty</div>
</div>
