body {
  background-image: #DCDCDC;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-family: 'Cambo', serif;
  font-size: 15px;
  padding-bottom: 80px;
}
footer {
  background-color: #D3D3D3;
  color: black;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* .navbar {
  background-color: #D3D3D3;
  color: black;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
} */
