body {
  background: url("<%= asset_path('background.jpg') %>");
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
